.text {
    height: 20x;
    color: black;
    line-height: 35px;
    font-size: 20px;
    text-align: left;
}
.form{
    height: 15px;
    color: black;
    line-height: 15px;
    background-color: white;
    text-align: left;
}
.button{
    height: 15x;
    color: black;
    line-height: 10px;
    font-size: 14px;
    text-align: left;
}
.output{
    color: blue;
    font-size: medium;
}
#title{
    height: 70px;
    color: gray;
    width: 100%;
    line-height: 70px;
    font-size: 35px;
    text-align: center;
    border-collapse:collapse;
    border-style: groove;
    background-color: rgb(172, 248, 198);
}